# IDEs
.idea
.settings
.project

# ISO
iso/local_mirror
iso/build

# Python
*.pyc
.tox

# Doc
_build
doc/*/build/
publish-docs/

# Editors
*.swp
*~

# Vagrant
.vagrant
Vagrantfile

# Bundle
Gemfile.lock
.bundled_gems
.bundle

/rdoc

task_graph.png

*.log
*-catalog.log.pp
*-spec.log.rb

.librarian
tests/noop/coverage/
tests/noop/spec/fixtures/

deployment/puppet/ceph
deployment/puppet/oslo
