[submodule "deployment/puppet/apt"]
	path = deployment/puppet/apt
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/apt.git
[submodule "deployment/puppet/common"]
	path = deployment/puppet/common
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/common.git
[submodule "deployment/puppet/concat"]
	path = deployment/puppet/concat
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/concat.git
[submodule "deployment/puppet/galera"]
	path = deployment/puppet/galera
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/galera.git
[submodule "deployment/puppet/git"]
	path = deployment/puppet/git
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/git.git
[submodule "deployment/puppet/glance"]
	path = deployment/puppet/glance
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/glance.git
[submodule "deployment/puppet/haproxy"]
	path = deployment/puppet/haproxy
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/haproxy.git
[submodule "deployment/puppet/horizon"]
	path = deployment/puppet/horizon
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/horizon.git
[submodule "deployment/puppet/keepalived"]
	path = deployment/puppet/keepalived
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/keepalived.git
[submodule "deployment/puppet/keystone"]
	path = deployment/puppet/keystone
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/keystone.git
[submodule "deployment/puppet/memcached"]
	path = deployment/puppet/memcached
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/memcached.git
[submodule "deployment/puppet/mmm"]
	path = deployment/puppet/mmm
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/mmm.git
[submodule "deployment/puppet/mysql"]
	path = deployment/puppet/mysql
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/mysql.git
[submodule "deployment/puppet/nova"]
	path = deployment/puppet/nova
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/nova.git
[submodule "deployment/puppet/openstack"]
	path = deployment/puppet/openstack
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/openstack.git
[submodule "deployment/puppet/rabbitmq"]
	path = deployment/puppet/rabbitmq
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/rabbitmq.git
[submodule "deployment/puppet/rsync"]
	path = deployment/puppet/rsync
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/rsync.git
[submodule "deployment/puppet/ssh"]
	path = deployment/puppet/ssh
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/ssh.git
[submodule "deployment/puppet/stdlib"]
	path = deployment/puppet/stdlib
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/stdlib.git
[submodule "deployment/puppet/swift"]
	path = deployment/puppet/swift
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/swift.git
[submodule "deployment/puppet/sysctl"]
	path = deployment/puppet/sysctl
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/sysctl.git
[submodule "deployment/puppet/vcsrepo"]
	path = deployment/puppet/vcsrepo
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/vcsrepo.git
[submodule "deployment/puppet/xinetd"]
	path = deployment/puppet/xinetd
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/xinetd.git
[submodule "deployment/puppet/lvm"]
	path = deployment/puppet/lvm
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/lvm.git
[submodule "deployment/puppet/network"]
	path = deployment/puppet/network
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/network.git
[submodule "deployment/puppet/selinux"]
	path = deployment/puppet/selinux
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/selinux.git
[submodule "deployment/puppet/firewall"]
	path = deployment/puppet/firewall
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/firewall.git
[submodule "deployment/puppet/ntpd"]
	path = deployment/puppet/ntpd
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/ntpd.git
[submodule "deployment/mcollective"]
	path = deployment/mcollective
	url = gitolite@gitolite.mirantis.com:fuel/deployment/mcollective.git
[submodule "deployment/puppet/cobbler"]
	path = deployment/puppet/cobbler
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/cobbler.git
[submodule "deployment/puppet/mcollective"]
	path = deployment/puppet/mcollective
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/mcollective
[submodule "deployment/puppet/puppet"]
	path = deployment/puppet/puppet
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/puppet.git
[submodule "deployment/puppet/puppetdb"]
	path = deployment/puppet/puppetdb
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/puppetdb.git
[submodule "deployment/puppet/postgresql"]
	path = deployment/puppet/postgresql
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/postgresql.git
[submodule "deployment/puppet/inifile"]
	path = deployment/puppet/inifile
	url = gitolite@gitolite.mirantis.com:fuel/deployment/puppet/inifile.git
