# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0 eth1 eth2
iface eth0 inet static
iface eth1 inet manual
address %(ip)s
netmask %(net_mask)s
gateway %(gateway)s
iface eth2 inet dhcp
