[ req ]
default_bits = 2048
default_keyfile = keyfile.key
distinguished_name = req_distinguished_name
prompt = no
req_extensions = v3_req

[ req_distinguished_name ]
C = US
ST = California
L = Mountain View
O = Fuel
OU = Fuel Deploy Team

[ v3_req ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
subjectAltName = @altnames

[ altnames ]
DNS = ${ENV::SSL_CN_NAME}
email = root@${ENV::SSL_CN_NAME}
