[ req ]
default_bits 					= 2048
default_keyfile 			= keyfile.key
distinguished_name 		= req_distinguished_name
prompt 								= no
req_extensions 				= v3_req


[ req_distinguished_name ]
CN 										= RU
ST 										= Moscow
L 										= Moscow
O 										= Mirantis
OU 										= Mirantis Deploy Team
CN 										= haproxy.fuel.local
emailAddress 					= root@fuel.local


[ v3_req ]
basicConstraints			= CA:FALSE
subjectKeyIdentifier	= hash