% This file managed by Puppet <%= puppetversion %>
% Template Path: <%= module_name %>/templates/rabbitmq.config
[
  {kernel, [
    {inet_dist_listen_min, <%= inet_dist_listen_min %>},
    {inet_dist_listen_max, <%= inet_dist_listen_max %>},
    {inet_default_connect_options, [{nodelay,true}]}
  ]}
<% if config_cluster -%>
  ,{rabbit, [
    {log_levels, [connection,debug,info,error]},
    {cluster_nodes, [<%= cluster_disk_nodes.map { |n| "\'rabbit@#{n}\'" }.join(', ') %>]}
  ]}
<% end -%>
<% if config_stomp -%>
  ,{rabbitmq_stomp, [
    {tcp_listeners, [<%= stomp_port %>]}
  ]}
<% end -%>
].
% EOF
