% This file managed by Puppet <%= puppetversion %>
% Template Path: <%= module_name %>/templates/rabbitmq.config
[
<% if config_cluster -%>
    {rabbit, [{log_levels, [connection,debug,info,error]}, {cluster_nodes, [<%= cluster_disk_nodes.map { |n| "\'rabbit@#{n}\'" }.join(', ') %>]}]}
    <% if config_stomp -%>
    % Configure the Stomp Plugin listening port
    ,{rabbitmq_stomp, [{tcp_listeners, [<%= stomp_port %>]} ]}
    <% end -%>
<% else -%>
    <% if config_stomp -%>
    % Configure the Stomp Plugin listening port
     {rabbitmq_stomp, [{tcp_listeners, [<%= stomp_port %>]} ]}
    <% end -%>
<% end -%>
].
% EOF
