% This file managed by Puppet <%= @puppetversion %>
% Template Path: <%= @module_name %>/templates/rabbitmq.config
[
  {kernel, [
    {inet_dist_listen_min, <%= @inet_dist_listen_min %>},
    {inet_dist_listen_max, <%= @inet_dist_listen_max %>},
    {inet_default_connect_options, [{nodelay,true}]}
  ]},
  {rabbit, [
    {log_levels, [connection,debug,info,error]},
    {default_vhost,       <<"<%= @virtual_host %>">>},
    {default_user,        <<"<%= @userid %>">>},
    {default_pass,        <<"<%= @password %>">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {cluster_partition_handling, autoheal},
    {tcp_listen_options, [
      binary,
      {packet, raw},
      {reuseaddr, true},
      {backlog, 128},
      {nodelay, true},
      {exit_on_close, false},
      {keepalive, true}
    ]}
  ]}
<% if @config_stomp -%>
  ,{rabbitmq_stomp, [
    {tcp_listeners, [<%= @stomp_port %>]}
  ]}
<% end -%>
].
% EOF
