[Unit]
Description=Unified maintenance mode reset timer
After=umm.service
Requires=umm.service
Before=shutdown.target
Conflicts=shutdown.target


[Service]
ExecStart=/bin/true
ExecStop=/usr/lib/umm/umm_svc down
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=basic.target

