[Unit]
Description=Unified maintenance mode runner
After=umm.service

[Service]
ExecStart=/usr/lib/umm/umm_svc run
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=basic.target
