[Unit]
Description=Unified maintenance mode reset timer
After=local-fs.target umm.service
Requires=local-fs.target umm.service

[Service]
ExecStart=/usr/lib/umm/umm_svc timer
Type=simple
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=basic.target

