[Unit]
Description=Unified maintenance mode service
DefaultDependencies=no
Before=basic.target shutdown.target
After=local-fs.target sysinit.target sockets.target
Requires=local-fs.target sysinit.target sockets.target

[Service]
ExecStart=/usr/lib/umm/umm_svc svc
ExecStartPost=-/bin/sh -c '/etc/profile.d/umm.sh "Console started on tty2"'
Type=oneshot
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=basic.target
