Puppetfile.lock
.tmp

# add modules being managed via librarian-puppet under here
puppet/stdlib
puppet/concat
puppet/inifile
puppet/ssh
puppet/ntp
puppet/apache
puppet/firewall
puppet/xinetd
puppet/cinder
