Puppetfile.lock
.tmp

# add modules being managed via librarian-puppet under here
puppet/stdlib
puppet/concat
puppet/inifile
puppet/xinetd
puppet/ssh
puppet/ntp
puppet/apache
puppet/apt
puppet/firewall
puppet/memcached
puppet/sysctl
puppet/staging
puppet/vcsrepo
puppet/postgresql
puppet/openstacklib
puppet/keystone
puppet/neutron
puppet/nova
puppet/heat
puppet/horizon
puppet/glance
puppet/swift
puppet/ceilometer
puppet/cinder
puppet/sahara
puppet/openssl
puppet/mongodb
puppet/rsync
puppet/monit
puppet/filemapper
puppet/tftp
puppet/ironic
puppet/murano
