Puppetfile.lock
.tmp

# add modules being managed via librarian-puppet under here
puppet/stdlib
puppet/concat
puppet/inifile
puppet/xinetd
puppet/ssh
puppet/ntp
puppet/apache
puppet/apt
puppet/firewall
puppet/neutron
puppet/nova
puppet/openstacklib
puppet/keystone
