[Unit]
Description=Unified maintenance mode (stub for fuel migration)
DefaultDependencies=no
After=sysinit.target plymouth-start.service network.target

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStartPre=-/bin/plymouth quit
ExecStart=-/bin/sh -c "/usr/bin/systemctl set-default multi-user.target; /bin/fuel-migrate start;"
Type=idle
StandardInput=tty-force
