#
# THIS FILE IS MANAGED BY PUPPET
# /etc/puppet/modules/production/nagios/files/squeeze/etc/nagios3/conf.d/generic-service.cfg
#

define service {
	name				generic-service
	active_checks_enabled		1
	check_freshness			0
	event_handler_enabled		1
	failure_prediction_enabled	1
	flap_detection_enabled		1
	notifications_enabled		1
	obsess_over_service		1
	parallelize_check		1
	passive_checks_enabled		1
	process_perf_data		1
	retain_nonstatus_information	1
	retain_status_information	1
		check_period		24x7
		contact_groups		admins
		is_volatile		0
		max_check_attempts	3
		normal_check_interval	5
		notification_interval	0
		notification_options	w, u, c, r
		notification_period	24x7
		retry_check_interval	1
	register			0
	action_url			/pnp4nagios/graph?host=$HOSTNAME$&srv=$SERVICEDESC$
}
