#
# THIS FILE IS MANAGED BY PUPPET
# /etc/puppet/modules/production/nagios/files/squeeze/etc/nagios3/conf.d/generic-contact.cfg
#

define contact {
	name				generic-contact
	host_notification_commands	notify-host-by-email
	host_notification_options	d,r
	host_notification_period	24x7
	service_notification_commands	notify-service-by-email
	service_notification_options	w,u,c,r
	service_notification_period	24x7
	register			0
}
