Source: fuel-library9.0
Section: admin
Priority: optional
Maintainer: Mirantis Product <product@mirantis.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: fuel-umm
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, upstart
Description: Unified maintenance mode
 Packet provide posibility to put operation system in the state when it has only
 critical set of working services which are needed for basic network and disk
 operations. Also node in MM state is reachable with ssh from network.
